<form [formGroup]="formulario" (ngSubmit)="accion()">
  
  <div>
    <input type="text" formControlName="nombre" placeholder="Nombre" />
    @if (formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched) {
      <div class="mensaje-error-input"><span>El nombre es obligatorio y solo letras.</span></div>
    } 
  </div> 

  <div>
    <input type="text" formControlName="apellido" placeholder="Apellido" />
    @if (formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched) {
      <div class="mensaje-error-input"><span>El apellido es obligatorio y solo letras.</span></div>
    }
  </div>

  <div>
    <input type="email" formControlName="correo" placeholder="Correo electrónico" />
    @if (formulario.get('correo')?.invalid && formulario.get('correo')?.touched) {
      <div class="mensaje-error-input"><span>Email obligatorio y válido.</span></div>
    }
  </div>

  <div>
    <input type="text" formControlName="username" placeholder="Nombre de usuario" />
    @if (formulario.get('username')?.invalid && formulario.get('username')?.touched) {
      <div class="mensaje-error-input"><span>El nombre de usuario es obligatorio.</span></div>
    }
  </div>

  <div>
    <input type="date" formControlName="fechaNacimiento" />
    @if (formulario.get('fechaNacimiento')?.invalid && formulario.get('fechaNacimiento')?.touched) {
      <div class="mensaje-error-input"><span>La fecha de nacimiento es obligatoria.</span></div>
    }
  </div>

  <div>
    <textarea formControlName="descripcion" placeholder="Descripción breve..."></textarea>
  </div>

  <div>
    <select formControlName="perfil">
      <option value="usuario">Usuario</option>
      <option value="administrador">Administrador</option>
    </select>
  </div>

  <div>
    <label>Imagen de Perfil:</label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  </div>

  <div>
    <input type="password" formControlName="password" placeholder="Contraseña" />
    @if (formulario.get('password')?.invalid && formulario.get('password')?.touched) {
      <div class="mensaje-error-input">
        <span>Debe tener al menos 8 caracteres, 1 mayúscula y 1 número.</span>
      </div>
    } 
  </div>

  <div>
    <input type="password" formControlName="repetirPassword" placeholder="Repetir Contraseña" />
    @if (formulario.errors?.['passwordMismatch'] && formulario.get('repetirPassword')?.touched) {
      <div class="mensaje-error-input">
        <span>Las contraseñas no coinciden.</span>
      </div>
    } 
  </div> 

  @if (mensajeError) {
    <div class="mensaje-error">{{ mensajeError }}</div>
  }
  
  <button type="submit" [disabled]="!formulario.valid">Registrarse</button>
</form>