<div class="pagina-contenedor">
  
  @if (datosDeLaPublicacion) {
    <div class="publicacion-grande">
      <h3 class="post-autor">@{{ datosDeLaPublicacion.usuario?.username || datosDeLaPublicacion.autor?.username || datosDeLaPublicacion.data?.autor?.username }}</h3>
      
      <h1 class="post-titulo-detalle">{{ datosDeLaPublicacion.titulo || datosDeLaPublicacion.data?.titulo }}</h1>
      
      <p class="post-descripcion-detalle">{{ datosDeLaPublicacion.texto || datosDeLaPublicacion.descripcion || datosDeLaPublicacion.data?.descripcion }}</p>
      
      @if (datosDeLaPublicacion.imagenUrl || datosDeLaPublicacion.url || datosDeLaPublicacion.imagen || datosDeLaPublicacion.data?.imagenUrl) {
        <img [src]="datosDeLaPublicacion.imagenUrl || datosDeLaPublicacion.url || datosDeLaPublicacion.imagen || datosDeLaPublicacion.data?.imagenUrl" alt="Imagen de la publicación" class="imagen-publicacion">
      }
    </div>
  } @else {
    <div class="publicacion-grande">
      <p>Cargando contenido de la publicación...</p>
    </div>
  }

  <hr class="divisor-comentarios">
  
  <div class="seccion-comentarios">
    <h3>Comentarios</h3>
    <div class="caja-escribir">
      <textarea [(ngModel)]="nuevoComentario" placeholder="Escribí un comentario..."></textarea>
      <button class="btn-celeste" (click)="publicarComentario()">Comentar</button>
    </div>

    <div class="lista-comentarios">
      @for (coment of comentarios; track coment.id) {
        <div class="comentario-item">
          <strong>{{ coment.autor }}</strong> 
          <span class="etiqueta-editado" *ngIf="coment.editado">(Editado)</span>
          <p>{{ coment.texto }}</p>
          
          <button class="btn-chico" (click)="editarComentario(coment)">Editar</button>
        </div>
      }
    </div>

    <button class="btn-cargar-mas" (click)="cargarMasComentarios()">Cargar más comentarios</button>
  </div>
</div>

@if (modalAbierto) {
  <div class="modal-overlay">
    <div class="modal-contenido">
      <h3 class="modal-titulo-edicion">Editar Comentario</h3>
      <textarea [(ngModel)]="textoEditado" rows="4" class="textarea-modal"></textarea>
      
      <div class="modal-botones">
        <button class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
        <button class="btn-celeste" (click)="guardarEdicion()">Guardar</button>
      </div>
    </div>
  </div>
}