@if (cargando) {
  <div class="pantalla-carga">
    <div class="spinner"></div>
    <h2>Autenticando...</h2>
  </div>
} @else {
  <div class="layout-principal">

    @if (mostrarSidebar()) {
      <aside class="sidebar">
        <div class="logo-container">
          <img src="/logo.png" alt="Logo My Things" class="logo-img">
        </div>

        <nav class="navegacion">
          <a routerLink="/publicaciones" class="nav-item">
            <span class="material-symbols-outlined">home</span> Inicio
          </a>
          <a routerLink="/mi-perfil" class="nav-item">
            <span class="material-symbols-outlined">person</span> Mi Perfil
          </a>
        </nav>
        @if (authService.usuarioActual()?.perfil === 'administrador') {
          <a routerLink="/dashboard-usuarios" class="nav-item">
            <span class="material-symbols-outlined">group</span> Usuarios
          </a>
        }

        <button class="btn-cerrar-sesion" (click)="CerrarSesion()">
          Cerrar Sesión
        </button>
      </aside>
    }
    @if (mostrarModalRenovar) {
  <div class="modal-overlay">
    <div class="modal-contenido modal-centro">
      <span class="material-symbols-outlined icono-reloj">timer</span>
      <h3 class="modal-titulo">¡Atención!</h3>
      <p class="modal-texto">
        Tu sesión vence en 5 minutos por inactividad.<br>¿Querés extenderla?
      </p>
      
      <div class="modal-botones-centro">
        <button class="btn-cancelar" (click)="ignorarRenovacion()">No, dejar vencer</button>
        <button class="btn-celeste btn-ancho" (click)="extenderSesion()">Sí, extender</button>
      </div>
    </div>
  </div>
}

    <main class="contenido-dinamico">
      <router-outlet></router-outlet>
    </main>

  </div>
}