/* Contenedor que divide la pantalla en 2 */
.layout-principal {
  display: flex;
  justify-content: center; /* 👈 ESTO CENTRA TODO EN EL MEDIO DE TU MONITOR */
  min-height: 100vh;
  width: 100%;
  background-color: #000000; 
  color: #ffffff;
}

/* La barra lateral fija */
.sidebar {
  width: 250px;
  min-width: 250px;
  border-right: 1px solid #2f3336; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh; 
}

/* El logo azul */
.logo-container {
  margin-bottom: 30px;
  padding-left: 10px;
}
.logo-img {
  width: 70px; 
  height: auto;
  border-radius: 70%; 
  cursor: pointer;
}

/* Los botones de navegación */
.navegacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1; 
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 30px;
  transition: background-color 0.2s;
}

.nav-item:hover {
  background-color: #181818;
}

.btn-cerrar-sesion {
  background-color: transparent;
  color: #eff3f4;
  border: 1px solid #536471;
  padding: 15px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.btn-cerrar-sesion:hover {
  background-color: rgba(244, 33, 46, 0.1);
  color: #f4212e;
  border-color: #f4212e;
}

.contenido-dinamico {
  width: 100%; 
  max-width: 750px; 
  border-right: 1px solid #2f3336; 
  min-height: 100vh;
}

/* --- ESTILOS DE LA PANTALLA DE CARGA --- */
.pantalla-carga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #1da1f2; /* Azul de Twitter */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #333; /* Borde gris oscuro */
  border-top-color: #1da1f2; 
  border-radius: 50%;
  animation: girar 1s linear infinite; /* Hace que ruede para siempre */
  margin-bottom: 20px;
}

.pantalla-carga h2 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}
