<div class="tweet-contenedor" *ngIf="publicacion" [routerLink]="['/publicacion', publicacion.id]" style="cursor: pointer;">
  
  <div class="tweet-avatar">
    <div class="avatar-placeholder"></div>
  </div>

  <div class="tweet-cuerpo">
    
    <div class="tweet-cabecera">
      <span class="nombre-usuario">{{ publicacion.usuario.nombre }}</span>
      <span class="arroba-usuario">{{ publicacion.usuario.username }}</span>
      <span class="fecha">· {{ publicacion.fecha | date:'shortDate' }}</span>
    </div>

    <div class="tweet-titulo">
      {{ publicacion.titulo }}
    </div>

    <div class="tweet-texto">
      {{ publicacion.texto }}
    </div>

    @if (publicacion.imagenUrl) {
      <div class="tweet-imagen" style="margin-top: 10px;">
        <img [src]="publicacion.imagenUrl" alt="Imagen adjunta" style="max-width: 100%; border-radius: 10px;">
      </div>
    }

    <div class="tweet-acciones">
      
      <button class="btn-accion btn-like" [class.like-activo]="publicacion.leDiLike" (click)="clickLike(); $event.stopPropagation()">
        Fav {{ publicacion.likes }}
      </button>

      @if (publicacion.usuario._id === authService.usuarioActual()?._id || authService.usuarioActual()?.rol === 'admin') {
        <button class="btn-accion btn-eliminar" (click)="clickEliminar(); $event.stopPropagation()">
          Eliminar
        </button>
      }

    </div>
  </div>
</div>